/*-- font --*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap&family=Jersey+10+Charted&family=Gowun+Batang&family=Gowun+Dodum&display=swap');

* {
    /* 고운돋움체 */
    font-family: "Gowun Dodum", sans-serif;
    font-size: 20px;

    /* 버튼준비 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.head {
    /* 헤더 */
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 150px;
    padding: 30px;

    border-bottom: 2px solid #000000;
    background-color: white;

    z-index: 10;
}

.title {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-size: 70px;
    padding: 15px;
}

.title:hover {
    color: black;
}

.body {
    /* 바디 */
    position: absolute;
    top: 150px;
    width: 100%;
}

.left {
    /* 왼쪽 바디 */
    width: 50%;
    float: left;
}

.introduction {
    margin: 20px 30px 20px 50px;
    line-height: 25px;
}

.start {
    /* '코딩 애니멀즈는?', '특징', '목표', '규칙'*/
    /* 고운바탕체 */
    display: inline-block;
    font-family: "Gowun Batang", serif;
    font-size: clamp(1.7rem, 3vw, 2rem);
    font-weight: 900;
    line-height: 40px;
    margin: 50px auto 40px -15px;
    background-color: rgb(233, 233, 233);
}

.right {
    /* 오른쪽 바디 */
    position: fixed;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 150px;
}

.members {
    /* 멤버카드-캐러셀 */
    position: absolute;
    left: calc(60% - 300px);
    top: calc(50% - 500px);
    width: 500px;
    float: left;
    object-fit: cover;
}

.carousel-inner {
    border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.link {
    font-family: "Jersey 10 Charted", sans-serif;
}

.fa-github:hover {
    color: black;
}

.nextpage {
    /* 다음페이지 버튼 */
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translate(150px, 150px);
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

div {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
}